name: Build and Push Docker Image

on:
  release:
    types: [published]  # Se déclenche à chaque release
  workflow_dispatch:    # Permet de lancer manuellement

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: colombe56/superweb-ci-cd:latest  # Remplace par ton repo Docker Hub
